/Test3/nbproject/private/
/Test3/Test3-war/nbproject/private/
/Test3/Test3-ejb/nbproject/private/
/Test3/Test3-ejb/build/
/Test3/Test3-ejb/dist/
/Test3/Test3-war/build/
/Test3/build/
/Test3/Test3-war/dist/
/Test3/dist/
/ShoutService/nbproject/private/
/ShoutClient/nbproject/private/
/Shout/nbproject/private/
/Shout/Shout-war/nbproject/private/
/Shout/Shout-ejb/nbproject/private/
/ShoutClient/build/
/Shout/Shout-ejb/build/
/ShoutService/dist/
/ShoutService/build/
/ShoutClient/dist/
/Shout/build/
/Shout/Shout-war/build/
/Shout/Shout-war/dist/
/Shout/Shout-ejb/dist/