/EJBRemoteInterface/nbproject/private/
/EntAppEJB/nbproject/private/
/EntAppEJB/build/
/EJBRemoteInterface/build/
/EJBRemoteInterface/dist/
/EntAppClient/nbproject/private/
/EntAppClient/dist/
/EntAppClient/build/
/NewsApp/nbproject/private/
/NewsApp/NewsApp-war/nbproject/private/
/NewsApp/NewsApp-ejb/nbproject/private/
/NewsApp/NewsApp-ejb/build/
/NewsApp/NewsApp-war/build/
/NewsApp/build/
/NewsApp/NewsApp-ejb/dist/
/NewsApp/NewsApp-war/dist/
/SayHelloInterface/nbproject/private/
/SayHelloClient/nbproject/private/
/SayHelloEJB/nbproject/private/
/SayHelloEJB/SayHelloEJB-ejb/nbproject/private/
/SayHelloInterface/build/
/SayHelloClient/build/
/SayHelloEJB/SayHelloEJB-ejb/build/
/SayHelloEJB/build/
/SayHelloEJB/SayHelloEJB-ejb/dist/
/SayHelloInterface/dist/
/SayHelloEJB/dist/
/Test/nbproject/private/
/Test/Test-war/nbproject/private/
/Test/Test-ejb/nbproject/private/
/Test/Test-ejb/build/
/Test/Test-war/build/
/Test/build/
/Test/Test-war/dist/
/Test/Test-ejb/dist/
/Test/dist/
/Test2/nbproject/private/
/Test2/Test2-war/nbproject/private/
/Test2/Test2-ejb/nbproject/private/
/Test2/Test2-ejb/build/
/Test2/Test2-war/build/
/Test2/build/
/Test2/Test2-ejb/dist/
/Test2/Test2-war/dist/
/Test2/dist/
/Shout-Interface/nbproject/private/
/Shaut-GUI-Client/nbproject/private/
/Shout/nbproject/private/
/Shout/Shout-war/nbproject/private/
/Shout/Shout-ejb/nbproject/private/
/Shout/Shout-ejb/build/
/Shout/Shout-war/build/
/Shout/build/
/Shout/Shout-ejb/dist/
/Shout-Interface/build/
/Shout-Interface/dist/
/Shout/Shout-war/dist/
/Shaut-GUI-Client/build/