/EJBRemoteInterface/nbproject/private/
/EntAppEJB/nbproject/private/
/EntAppEJB/EntAppEJB-ejb/build/
/EntAppEJB/build/
/EJBRemoteInterface/build/
/EJBRemoteInterface/dist/
/EntAppEJB/EntAppEJB-ejb/dist/
/EntAppClient/nbproject/private/
/EntAppClient/dist/
/EntAppClient/build/
/HelloEJBInterface/nbproject/private/
/HelloEJB/nbproject/private/
/HelloEJBClient/nbproject/private/
/HelloEJBInterface/build/
/HelloEJB/build/
/HelloEJB/dist/
/HelloEJB/HelloEJB-ejb/dist/
/HelloEJB/HelloEJB-ejb/build/
/HelloEJBInterface/dist/
/HelloEJBClient/build/
/SayHelloInterface/nbproject/private/
/SayHelloClient/nbproject/private/
/SayHelloEJB/nbproject/private/
/SayHelloInterface/build/
/SayHelloClient/build/
/SayHelloEJB/SayHelloEJB-ejb/build/
/SayHelloEJB/build/
/SayHelloEJB/SayHelloEJB-ejb/dist/
/SayHelloInterface/dist/
/Test/nbproject/private/
/Test/Test-war/nbproject/private/
/Test/Test-ejb/nbproject/private/
/Test/Test-ejb/build/
/Test/Test-war/build/
/Test/build/
/Test/Test-ejb/dist/
/Test/Test-war/dist/
/Test/dist/
/Shout-Interface/nbproject/private/
/Shout-GUI-Client/nbproject/private/
/Shout/nbproject/private/
/Shout/Shout-war/nbproject/private/
/Shout/Shout-ejb/nbproject/private/
/Shout/Shout-ejb/build/
/Shout/Shout-war/build/
/Shout/build/
/Shout-Interface/build/
/Shout-Interface/dist/
/Shout/Shout-ejb/dist/
/Shout/Shout-war/dist/
/Shout/dist/
/Shout-GUI-Client/build/
/Shout-GUI-Client/dist/
/SimpleJPA/nbproject/private/
/SimpleJPA/build/
/PeopleJPA/nbproject/private/
/PeopleJPA/build/
/FancyRegProject-Valentina/FancyReg/FancyReg-ejb/build/
/FancyRegProject-Valentina/FancyReg/FancyReg-ejb/dist/
/FancyRegProject-Valentina/FancyReg/FancyReg-ejb/nbproject/private/
/FancyRegProject-Valentina/FancyReg/FancyReg-war/build/
/FancyRegProject-Valentina/FancyReg/FancyReg-war/dist/
/FancyRegProject-Valentina/FancyReg/FancyReg-war/nbproject/private/
/FancyRegProject-Valentina/FancyReg/build/
/FancyRegProject-Valentina/FancyReg/dist/
/FancyRegProject-Valentina/FancyReg/nbproject/private/
/FancyRegProject-Valentina/FancyRegGUI/build/
/FancyRegProject-Valentina/FancyRegGUI/nbproject/private/
/FancyRegProject-Valentina/FancyRegInterface/build/
/FancyRegProject-Valentina/FancyRegInterface/dist/
/FancyRegProject-Valentina/FancyRegInterface/nbproject/private/
/SAAQ-Interface/nbproject/private/
/SAAQ-Client/nbproject/private/
/SAAQ-Client/build/
/SAAQ/nbproject/private/
/SAAQ/SAAQ-ejb/nbproject/private/
/SAAQ/SAAQ-ejb/build/
/SAAQ/build/
/SAAQ/SAAQ-ejb/dist/
/SAAQ-Interface/build/
/SAAQ-Interface/dist/
/SAAQ_Tutoring/SAAQ-Tutoring/nbproject/private/
/SAAQ_Tutoring/SAAQTutoring/nbproject/private/
/SAAQ_Tutoring/SAAQTutoring/SAAQTutoring-ejb/nbproject/private/
/SAAQ_Tutoring/SAAQTutoring_GUI/nbproject/private/
/SAAQ_Tutoring/SAAQ-Tutoring/dist/
/SAAQ_Tutoring/SAAQ-Tutoring/build/
/SAAQ_Tutoring/SAAQTutoring/SAAQTutoring-ejb/build/
/SAAQ_Tutoring/SAAQTutoring/build/
/SAAQ_Tutoring/SAAQTutoring/SAAQTutoring-ejb/dist/
/SAAQ_Tutoring/SAAQTutoring/dist/
/SAAQ_Tutoring/SAAQTutoring_GUI/build/